* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    /* list-style: none; */
}

.hero {
    background-color: greenyellow;  
    /* change karna hai */
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 900;
}

.features {
    margin-top: 20px;
}

.features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features li {
    margin-bottom: 20px;
}


.testimonials p {
    font-size: 18px;
    margin-bottom: 20px;
}

.pricing {
    margin-top: 20px;
}

.pricing ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pricing li {
    margin-bottom: 20px;
    background-color: blue;
}



